.contact {

}
.contact__form {
    display: grid;
}
.contact__label,
.contact__input,
.contact__textarea {
    display: block;
}

.contact__input,
.contact__textarea {
    width: calc(100% - 1rem);
}

.contact__label {
    margin-left: 16px;
    margin-right: 16px;
    color: var(--clr-white);
    
}

.contact__input,
.contact__textarea {
    margin-top: 8px;
    font-family: var(--font-ff-poppins);
    font-style: normal;
    font-weight: var(--font-fw-normal);
    font-size: 1rem;
    color: #616161;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
}

.contact__input {

}

.contact__textarea {
    resize: vertical;
    min-height: 110px;
}

.contact__field--error {
    visibility: hidden;
    font-family: var(--font-ff-poppins);
    font-style: italic;
    font-weight: var(--font-fw-normal);
    font-size: 14px;
    
    
    color: #616161;
}

.contact__submit {
    margin-left: 16px;
    margin-right: 16px;
    justify-self: right;
    width:calc((100% - 2rem) / 2)
}