.navigation-button {
    border: none;
    width:30px;
    height:30px;
    padding: 0;
    margin: 0;
    stroke: var(--clr-accent-500);
    position: fixed;
    top: 16px;
    right:16px;
    background:transparent;
    z-index: 2;
}
.close__svg{
    display:none;
}

.page-links {
    display:grid;
    position: fixed;
    transform: translateX(-100%);
    // display: grid;
    grid-auto-flow: row;
    height: 100%;
    background: var(--clr-primary-250);    
    align-items: center;
    width: 75%;
    border-radius: 0 16px 16px 0;
    z-index: 2;
    transition: transform 250ms ease-in;
}

.page-links a{
    color: white;
    text-decoration: none;
    font-family: var(--font-ff-poppins);
    text-transform: uppercase;
    font-weight: var(--font-fw-extrabold);
    font-size: 24px;
    text-align: center;


}

.nav-open .page-links {
    transform: translateX(0);
}

// ====================================================== //
// ==================== Media Querys ==================== //
// ====================================================== //

@include for-tablet-portrait {
    .navigation-button {
        display: none;
    }
    .page-links {
        position:fixed;
        transform: translateX(0);
        grid-auto-flow: column;
        width: calc(100% - 4rem);
        @include margin-inline(2rem);
        height: 2rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        align-content: center;
        border: 1px solid var(--clr-primary-500);
    }
    .page-links a {        
        line-height: 2rem;
        height:2rem;
        
    }    
    .page-links a:not(:last-child) {
        border-right: 1px solid var(--clr-white);          
    }
}

@include for-desktop {
    .page-links {
        width: calc(100% - 400px);
        @include margin-inline(200px);
    }
  }
  @include for-big-desktop {
    .page-links {
        width: calc(100% - 512px);
        @include margin-inline(256px);
    }
  }