{# 
<section class="footer" aria-label="Footer"  >
    <p>Follow me on Social Media</p>
    <address class="social-icons">
        <a href="https://github.com/matthewjdavison" target='_blank' aria-label="Github Profile">
            <span class="fab fa-github"></span>
        </a>
        <a href="#" target='_blank' aria-label="Twitter Profile">
            <span class="fab fa-twitter" ></span>
        </a>
        <a href="https://dribbble.com/MatthewJDavison" target='_blank' aria-label="Dribbble Profile">
            <span class="fab fa-dribbble"></span>
        </a>
    </address>
    <span class="copyright">&copy;Copyright 2021 Matthew Davison</span>
</section> #}

