<footer class="footer">
    <p class="footer_text">Follow me on Social Media</p>
    <address class="social-icons">
        <a href="https://github.com/matthewjdavison" target='_blank' aria-label="Github Profile">
            <span class="fab fa-github social-icon"></span>
        </a>
        <a href="#" target='_blank' aria-label="Twitter Profile">
            <span class="fab fa-twitter social-icon"></span>
        </a>
        <a href="https://dribbble.com/MatthewJDavison" target='_blank' aria-label="Dribbble Profile">
            <span class="fab fa-dribbble social-icon"></span>
        </a>
    </address>
    <p class="footer_text">&copy; Copyright 2021 Matthew Davison</p>
  </footer>