<button href="#" class="navigation-button" aria-label="Click to open navigation">
    <svg class="hamburger">
        <use class="nav-toggle--burger"  href="#hamburger"/>
        <use class="nav-toggle--close"  href="#close"/>
    </svg>
</button>

<nav class="page-links">
        <button id="nav__home" href="#home">Home</>
        <button href="#portfolio">My Portfolio</button>
        <button href="#about">About Me</button>
        <button href="#contact">Contact Me</button> 
</nav>