<button href="#" class="navigation-button" aria-label="Click to open navigation">
    <svg class="hamburger__svg" aria-label="Hamburger icon" viewBox="0 0 30 30">
            <rect width="30" height="30" fill="transparent"/>

            <line class="burger" x1="3" y1="9" x2="27" y2="9"/>
            <line class="burger" x1="3" y1="15" x2="27" y2="15"/>
            <line class="burger" x1="3" y1="21" x2="23" y2="21"/>        
    </svg>
    
    <svg class="close__svg" viewBox="0 0 30 30">
        <rect width="30" height="30" fill="transparent"/>
        <line class="burger" x1="3" y1="3" x2="27" y2="27"/>
        <line class="burger" x1="3" y1="27" x2="27" y2="3"/>
    </svg>
</button>

<nav class="page-links">
        <a id="nav__home" href="#home">Home</a>
        <a href="#portfolio">My Portfolio</a>
        <a href="#about">About Me</a>
        <a href="#contact">Contact Me</a> 
</nav>