<button href="#" class="navigation-button" aria-label="Click to open navigation">
    <svg class="hamburger">
        <use class="nav-toggle--burger"  href="#hamburger"/>
        <use class="nav-toggle--close"  href="#close"/>
    </svg>
</button>

<nav class="page-links">
        <a id="nav__home" href="#home">Home</a>
        <a href="#portfolio">My Portfolio</a>
        <a href="#about">About Me</a>
        <a href="#contact">Contact Me</a> 
</nav>