.copyright::before{
    position: relative;
    top: -15px;
    content: ' ';            
    border-bottom: var(--clr-white) 1px solid;
    width: 91px;
    display: block;
    margin: 0 auto;
}

.copyright{
    margin-top: 1rem;
}

