.footer {
    position: relative;
    bottom: 0;
    min-height: max-content;

    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 0;
    margin-top: calc(1rem + 5px);
    display: flex;
    flex-direction: column;
    
    color: var(--clr-white);
    font-family: var(--font-ff-poppins);
    background: var(--clr-primary-300);
    
    justify-content: center;    
    text-align: center;
}
p {
    margin:0;
}
@import 'social-icons';
@import 'copyright';
@import 'responsive';