.social-icons{
    display: flex;    
    align-self: center;
    margin-top: 1rem;
    // margin-left: 100px;
    // margin-right: 100px;
    column-gap: 40px;    
    padding-left: 0;
}
.social-icons > a {
    background: transparent;
    border: none;
}

.social-icons span{
    font-size: 30px;
}

.social-icons span.fa-github{
    color: var(--clr-brand-github);
}

.social-icons span.fa-twitter{
    color: var(--clr-brand-twitter);
}

.social-icons span.fa-dribbble{
    color: var(--clr-brand-dribbble);
}