.quote {
    
    font-family: var(--font-ff-poppins);
    font-weight: var(--font-fw-regular);
    font-size: 1.125rem;
    color: var(--clr-white);
    // padding: 0 32px;
    text-align: center;
    margin: 0 8px;
}

.quote::before, 
.quote::after {
    color: var(--clr-accent-500);    
    font-size: 2rem;
}
.quote::before {
    content: open-quote;
}
.quote::after {
    content: close-quote;   
}