@include for-small-phone-only {
    .cta__heading {
       font-size: 1.5rem;
       margin-top: 0.5rem;
    }
    .quote,
    .quote::before,
    .quote::after {
        font-size: 1rem;
    }     

    .ending-statement {
        font-size: 0.75rem;
    }

    .cta__button {
        padding: 0.75rem 10px;
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
        margin-top: auto;
    }
}

// @include mq($bp-phone){

// }
// @include mq($bp-tablet-portrait){

// }
// @include mq($bp-tablet-landscape){
  
// }
// @include mq($bp-desktop){
    
// }
// @include mq($bp-big-desktop){

// }
// @include mq($bp-huge-desktop){
//     .cta {
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 60vw;        
//         min-height: max-content;
//         padding: 5rem 0;
//     }
    
//     .cta__heading {
//         font-size: calc(3rem * 1.5);
//     }

//     .quote {
//         font-size: calc(1.125rem * 1.95);
//     }

//     .ending-statement {
//         font-size: calc(1.5rem * 1.5);
        
//     }

//     .cta__button {        
//         font-size: calc(2.25rem * 1.5);
//     }
// }
