@include for-small-phone-only {
    .welcome {
        padding-top: 2rem;        
        
    }
    .profile {
        margin-top: auto;
    }
    .profile-icon {
        display: block;
        width: 4.09375rem;
        height: 4.09375rem;
    }

    .greet {
        font-size: 0.625rem;
    }

    .name {
        font-size: 1.5rem;
    }

    .role {
        font-size: 0.5rem;
    }

    .down-pointer svg {
        width: calc(18.5px*.5);
        height: calc(31px*.5);
    }
}

// @include mqh($bp-phone){
//     .welcome {
//         display: grid;
//         grid-template-areas: 
//         "icon greet"
//         "icon name"
//         "role role";
//     }

//     .profile-icon {
//         grid-area: icon;
//     }
//     .greet {
//         grid-area: greet;
//     }

//     .name {
//         grid-area: name;
//     }
//     .role {
//         grid-area: role;
//     }

// }
// @include mq($bp-tablet-portrait){
//     .profile-icon {
//         margin-top: auto;
//         height: calc(8.1875rem * 1.5);
//         width: calc(8.1875rem * 1.5);
//     }
//     .greet {
//         font-size: calc(1.25rem * 1.5);
//     }

//     .name {
//         font-size: calc(3rem * 1.5);
//     }
//     .role {
//         font-size: calc(1rem * 1.5);
//         margin-bottom: auto;
//     }
//     .welcome {    
//         min-height: inherit; 
//     }
//     .down-pointer {
//         display: none;
//     }
// }
// @include mq($bp-tablet-landscape){
  
// }
// @include mq($bp-desktop){
//     .profile-icon {
//         margin-top: auto;
//         height: calc(8.1875rem * 2);
//         width: calc(8.1875rem * 2);
//     }
//     .greet {
//         font-size: calc(1.25rem * 2);
//     }

//     .name {
//         font-size: calc(3rem * 2);
//     }
//     .role {
//         font-size: calc(1rem * 2);
//         margin-bottom: auto;
//     }
// }
// @include mq($bp-big-desktop){

// }
// @include mq($bp-huge-desktop){
    
// }