.project__caption {
    display: flex;
    flex-direction: column;    
}
.project__caption .project__title,
.project__caption .project__description,
.project__caption .project__link{
    z-index: 1;
}
.project__caption .project__title {   
    width: 100%;
    
}

.project__caption .project__description {
    // top: 20%;
    width: 100%;
    visibility: collapse;
    margin-bottom: auto;
    
    
}

.project__caption .project__link {
    align-self: flex-start;
    width: max-content;
    
    color: var(--clr-white);    
    text-decoration: underline;
    background: transparent;
    border: none;
}