
.resume__card {
    background: var(--clr-primary-250);
    margin: 0;
    height:6rem;
    width:6rem;
    display: flex;
    text-align: center;
    align-items:center;
    border-radius: 8px;
}
.resume__card--link {
    display: flex;
    text-align: center;
    align-items:center;
    width:100%;
    height:100%;
}
.resume__role {
    width:100%;
    margin: 0 0.5rem;
}

.resume__card:hover,
.resume__card:focus {
    background: var(--clr-secondary-520)
}