@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
:root {
  --clr-primary-500: hsl(231, 18%, 50%);
  --clr-primary-350: hsl(231, 18%, 35%);
  --clr-primary-300: hsl(231, 18%, 30%);
  --clr-primary-250: hsl(231, 18%, 25%);
  --clr-primary-200: hsl(231, 18%, 20%);
  --clr-accent-500: hsl(166, 100%, 50%);
  --clr-accent-700: hsl(166, 100%, 70%);
  --clr-secondary-520: hsl(198, 30%, 52%);
  --clr-secondary-320: hsl(198, 30%, 32%);
  --clr-secondary-120: hsl(198, 30%, 12%);
  --clr-white: hsl(0, 0%, 99%);
  --clr-black: hsl(0, 0%, 8%);
  --clr-dim-gray: hsl(0, 0%, 41%);
}

:root {
  --clr-bg: var(--clr-primary-200);
  --clr-fg: var(--clr-white);
  --clr-brand-github: hsl(0, 0%, 100%);
  --clr-brand-twitter: hsl(0, 0%, 100%);
  --clr-brand-dribbble: hsl(0, 0%, 100%);
  --clr-about-body: hsl(231, 18%, 35%);
  --clr-about-head: hsl(231, 18%, 30%);
}

:root {
  --font-ff-poppins: "Poppins", sans-serif;
  --font-ff-sourcecode: "Source Code Pro", monospace;
  --font-ff-oxanium: "Oxanium", cursive;
  --font-ff-font-awesome-free: "Font Awesome 5 Free";
}

:root {
  --font-fs-h1: 48px;
  --font-fs-h2: 24px;
  --font-fs-h3: 18px;
  --font-fs-body-normal: 16px;
  --font-fs-body-large: 18px;
}

:root {
  --font-fw-thin:100;
  --font-fw-extralight:200;
  --font-fw-light:300;
  --font-fw-regular:400;
  --font-fw-medium:500;
  --font-fw-semibold:600;
  --font-fw-bold:700;
  --font-fw-extrabold:800;
  --font-fw-black:900;
}

@media screen and (min-width: 600px) {
  :root {
    --font-fs-h1: 72px;
    --font-fs-h2: 48px;
    --font-fs-h3: 36px;
    --font-fs-body-normal: 24px;
    --font-fs-body-large: 26px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --font-fs-h1: 56px;
    --font-fs-h2: 36px;
    --font-fs-h3: 32px;
    --font-fs-body-normal: 22px;
    --font-fs-body-large: 24px;
  }
}
:root {
  --spacing-padding: 1rem;
}

body {
  background: var(--clr-primary-200);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@supports not (margin-inline: 0) {
  main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@supports (margin-inline: 0) {
  main {
    margin-inline: 1rem 1rem;
  }
}

h1, h2, h3, h4, h5, h6,
p, a, samp {
  color: white;
  margin-top: 0;
}

h1 {
  font-family: var(--font-ff-oxanium);
  font-weight: var(--font-fw-light);
  font-size: var(--font-fs-h1);
  text-align: center;
  color: var(--clr-accent-500);
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 32px;
}

.button {
  font-family: var(--font-ff-poppins);
  font-weight: var(--font-fw-medium);
  font-size: var(--font-fs-body-large);
  width: max-content;
  height: max-content;
  padding: 10px 16px;
  text-transform: uppercase;
  border-radius: 4px;
}

.primary-btn {
  background: var(--clr-accent-500);
  border: none;
  color: var(--clr-black);
}

.outline-btn {
  border: 2px solid var(--clr-accent-500);
  color: var(--clr-accent-500);
  background: var(--clr-bg);
}

.primary-btn:hover,
.primary-btn:focus {
  background: #ff003c;
  color: white;
}

.outline-btn:hover,
.outline-btn:focus {
  outline: none;
  border: 2px solid #ff003c;
}

@media screen and (min-width: 1200px) {
  @supports not (margin-inline: 0) {
    main {
      margin-left: 200px;
      margin-right: 200px;
    }
  }
  @supports (margin-inline: 0) {
    main {
      margin-inline: 200px 200px;
    }
  }
}
@media screen and (min-width: 1500px) {
  @supports not (margin-inline: 0) {
    main {
      margin-left: 256px;
      margin-right: 256px;
    }
  }
  @supports (margin-inline: 0) {
    main {
      margin-inline: 256px 256px;
    }
  }
}
.navigation-button {
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  stroke: var(--clr-accent-500);
  position: fixed;
  top: 16px;
  right: 16px;
  background: transparent;
  z-index: 2;
}

.close__svg {
  display: none;
}

.page-links {
  display: grid;
  position: fixed;
  transform: translateX(-100%);
  grid-auto-flow: row;
  height: 100%;
  background: var(--clr-primary-250);
  align-items: center;
  width: 75%;
  border-radius: 0 16px 16px 0;
  z-index: 2;
  transition: transform 250ms ease-in;
}

.page-links a {
  color: white;
  text-decoration: none;
  font-family: var(--font-ff-poppins);
  text-transform: uppercase;
  font-weight: var(--font-fw-extrabold);
  font-size: 24px;
  text-align: center;
}

.nav-open .page-links {
  transform: translateX(0);
}

@media screen and (min-width: 600px) {
  .navigation-button {
    display: none;
  }

  .page-links {
    position: fixed;
    transform: translateX(0);
    grid-auto-flow: column;
    width: calc(100% - 4rem);
    height: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    align-content: center;
    border: 1px solid var(--clr-primary-500);
  }
  @supports not (margin-inline: 0) {
    .page-links {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  @supports (margin-inline: 0) {
    .page-links {
      margin-inline: 2rem 2rem;
    }
  }

  .page-links a {
    line-height: 2rem;
    height: 2rem;
  }

  .page-links a:not(:last-child) {
    border-right: 1px solid var(--clr-white);
  }
}
@media screen and (min-width: 1200px) {
  .page-links {
    width: calc(100% - 400px);
  }
  @supports not (margin-inline: 0) {
    .page-links {
      margin-left: 200px;
      margin-right: 200px;
    }
  }
  @supports (margin-inline: 0) {
    .page-links {
      margin-inline: 200px 200px;
    }
  }
}
@media screen and (min-width: 1500px) {
  .page-links {
    width: calc(100% - 512px);
  }
  @supports not (margin-inline: 0) {
    .page-links {
      margin-left: 256px;
      margin-right: 256px;
    }
  }
  @supports (margin-inline: 0) {
    .page-links {
      margin-inline: 256px 256px;
    }
  }
}
.intro {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  row-gap: 8px;
  height: 100vh;
  padding-top: 32px;
}

.intro__profile-picture {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background: white;
  object-fit: cover;
  object-position: 6px;
  overflow: visible;
}

.intro__greet,
.intro__name,
.intro__role {
  margin-top: 0;
  margin-bottom: 8px;
}

.intro__greet {
  font-size: var(--font-fs-h3);
  font-family: var(--font-ff-poppins);
  font-weight: var(--font-fw-regular);
}

.intro__name {
  font-size: var(--font-fs-h1);
  color: var(--clr-accent-500);
  font-family: var(--font-ff-oxanium);
  font-weight: var(--font-fw-light);
}

.intro__role {
  font-size: var(--font-fs-h2);
  font-family: var(--font-ff-poppins);
  font-weight: var(--font-fw-light);
}

.intro_scroll-button {
  fill: var(--clr-white);
  height: calc(16px*3);
  width: calc(8px*3);
}

.intro_scroll-button:hover,
.intro_scroll-button:focus {
  fill: var(--clr-accent-500);
}

.intro__scroll-svg {
  height: calc(16px*3);
  overflow: visible;
}

.intro_scroll-button ellipse {
  fill: none;
  stroke: var(--clr-white);
  stroke-width: 0.4px;
}

.intro_scroll-button:hover ellipse,
.intro_scroll-button:focus ellipse {
  stroke: var(--clr-accent-500);
}

.ellipse {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 32px;
}

@media screen and (min-width: 600px) {
  .intro {
    height: max-content;
  }

  .intro_scroll-button {
    display: none;
  }

  .intro__profile-picture {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .intro {
    row-gap: 1rem;
  }

  .intro__profile-picture {
    width: 282px;
    height: 282px;
  }
}
.cta {
  display: grid;
  grid-auto-flow: row;
  padding: 16px 8px;
  --clr-bg: var(--clr-primary-300);
  background: var(--clr-bg);
  justify-items: center;
  text-align: center;
  height: 100vh;
  row-gap: 2rem;
}

.cta__motto,
.cta__quote,
.cta__personality-adjectives {
  margin-bottom: 0;
}

.cta__motto {
  font-family: var(--font-ff-oxanium);
  font-weight: var(--font-fw-regular);
  font-size: var(--font-fs-h1);
  color: var(--clr-white);
}

.cta__quote {
  font-family: var(--font-ff-poppins);
  font-weight: var(--font-fw-regular);
  font-size: var(--font-fs-body-normal);
}
@supports not (padding-inline: 0) {
  .cta__quote {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@supports (padding-inline: 0) {
  .cta__quote {
    padding-inline: 1rem 1rem;
  }
}

.cta__quote::before,
.cta__quote::after {
  font-family: var(--font-ff-oxanium);
  font-weight: var(--font-fw-regular);
  font-size: calc(var(--font-fs-body-normal)*2);
  color: var(--clr-accent-500);
  opacity: 0.4;
}

.cta__quote::before {
  content: open-quote;
}

.cta__quote::after {
  content: close-quote;
}

.cta__personality-adjectives {
  font-family: var(--font-ff-poppins);
  font-weight: var(--font-fw-regular);
  font-size: var(--font-fs-body-normal);
}

@media screen and (min-width: 600px) {
  .cta {
    height: max-content;
  }
}
@media screen and (min-width: 1200px) {
  .cta {
    row-gap: 4rem;
  }
}
@media screen and (min-width: 1900px) {
  @supports not (padding-inline: 0) {
    .cta__quote {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }
  @supports (padding-inline: 0) {
    .cta__quote {
      padding-inline: 6rem 6rem;
    }
  }
}
.projects {
  display: grid;
  width: calc(100vw - 2rem);
  height: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  padding-left: 0;
}

.project .project__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  object-fit: contain;
}

.project {
  grid-column: span 1;
  grid-row: span 1;
  position: relative;
}

.project:first-of-type {
  grid-column: span 2;
  grid-row: span 2;
}

.project::before .project__caption {
  content: "";
  margin-left: 1px solid white;
  margin-right: 1px solid white;
  transform: scale(0);
}

.project::before,
.project::after {
  position: absolute;
  opacity: 1;
  transition: transform ease-out 250ms;
}
@supports not (inset: 0) {
  .project::before,
.project::after {
    top: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
  }
}
@supports (inset: 0) {
  .project::before,
.project::after {
    inset: 0.5rem;
  }
}

.project:first-of-type::before,
.project:first-of-type::after {
  position: absolute;
  opacity: 1;
  transition: transform ease-out 250ms;
}
@supports not (inset: 0) {
  .project:first-of-type::before,
.project:first-of-type::after {
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
}
@supports (inset: 0) {
  .project:first-of-type::before,
.project:first-of-type::after {
    inset: 1rem;
  }
}

.project::before {
  content: "";
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
  z-index: 1;
  transform: scale(0, 1);
}

.project::after {
  content: "";
  border-left: 1px solid var(--clr-white);
  border-right: 1px solid var(--clr-white);
  transform: scale(1, 0);
}

.project__caption {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  padding: 8px;
  z-index: 1;
}

.project__overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.project:hover .project__caption,
.project:focus .project__caption {
  display: grid;
}

.project:hover::before,
.project:focus::before {
  transform: scale(1.1, 1);
}

.project:hover::after,
.project:focus::after {
  transform: scale(1, 1.1);
}

.project__title,
.project__summary,
.project__link {
  margin-bottom: 0;
}

.project__title {
  font-family: var(--font-ff-oxanium);
  font-size: 22px;
  font-weight: var(--font-fw-bold);
}

.project__summary {
  display: none;
  font-family: var(--font-ff-poppins);
  font-size: var(--font-fs-body-large);
  font-weight: var(--font-fw-regular);
}

.project__link {
  font-family: var(--font-ff-poppins);
  font-size: var(--font-fs-body-large);
  font-weight: var(--font-fw-bold);
  color: var(--clr-accent-500);
  text-decoration: underline;
}

.project:first-of-type .project__caption {
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.project:first-of-type .project__title {
  font-size: 44px;
}

.project:first-of-type .project__link {
  font-size: 24px;
}

.project:first-of-type .project__summary {
  display: block;
}

.projects .button {
  grid-column: span 2;
  justify-self: center;
  margin-top: 16px;
}

.projects h1 {
  grid-column: span 2;
}

.project__modal {
  display: none;
  z-index: 10;
  background: var(--clr-primary-300);
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  overflow-y: scroll;
}

.close-modal {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  filter: drop-shadow(0 0 1px black);
  z-index: 1;
}

.close-modal ellipse {
  fill: white;
}

.close-modal path {
  stroke: black;
  stroke-width: 1px;
}

.modal__image {
  position: static;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 255, 196, 0.3);
  max-height: 55%;
  object-fit: cover;
}

.modal__header {
  background: rgba(0, 204, 156, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  top: 5rem;
}

.modal__title {
  color: white;
  text-align: left;
}

.modal__title::after,
.modal__summary::after {
  content: "";
  display: block;
  width: 17rem;
  height: 2px;
  position: relative;
  top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.modal__title::after {
  background: rgba(255, 255, 255, 0.7);
}

.modal__summary,
.modal__content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal__summary {
  font-style: italic;
  text-align: center;
}

.modal__summary::after {
  background: rgba(0, 255, 196, 0.7);
  width: calc(100% + 2rem);
  top: 1rem;
  left: -1rem;
  margin-bottom: 2rem;
}

.project__modal.open {
  display: block;
}

@media screen and (min-width: 600px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .projects .projects_header {
    grid-column: span 4;
  }

  .projects .button {
    grid-column: span 4;
  }

  .project__summary {
    font-size: 18px;
  }

  .project:first-of-type .project__title {
    font-size: 44px;
  }

  .project:first-of-type .project__link {
    font-size: 30px;
  }

  @supports not (inset: 0) {
    .project:first-of-type::before,
.project:first-of-type::after {
      top: 1.1rem;
      left: 1.1rem;
      right: 1.1rem;
      bottom: 1.1rem;
    }
  }
  @supports (inset: 0) {
    .project:first-of-type::before,
.project:first-of-type::after {
      inset: 1.1rem 1.1rem 1.1rem 1.1rem;
    }
  }

  .modal__header {
    padding: 10px 30px;
    top: 30rem;
  }
}
@media screen and (min-width: 1200px) {
  @supports not (inset: 0) {
    .project:first-of-type::before,
.project:first-of-type::after,
.project:first-of-type .project__caption {
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }
  @supports (inset: 0) {
    .project:first-of-type::before,
.project:first-of-type::after,
.project:first-of-type .project__caption {
      inset: 2rem 2rem 2rem 2rem;
    }
  }

  .projects {
    width: calc(100vw - 400px);
  }

  .project__summary {
    font-size: 24px;
  }

  .project .project__title {
    font-size: 28px;
  }

  .project .project__link {
    font-size: 22px;
  }

  .project:first-of-type .project__title {
    font-size: 56px;
  }

  .project:first-of-type .project__link {
    font-size: 44px;
  }

  @supports not (inset: 0) {
    .project__modal {
      top: 1rem;
      left: 200px;
      right: 200px;
      bottom: 1rem;
    }
  }
  @supports (inset: 0) {
    .project__modal {
      inset: 1rem 200px 1rem 200px;
    }
  }

  .close-modal {
    left: 185px;
  }

  .modal__header {
    padding: 1.5rem 20rem;
    top: 30rem;
  }
}
@media screen and (min-width: 1900px) {
  @supports not (inset: 0) {
    .project::before,
.project::after,
.project .project__caption {
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
    }
  }
  @supports (inset: 0) {
    .project::before,
.project::after,
.project .project__caption {
      inset: 1rem 1rem 1rem 1rem;
    }
  }

  @supports not (inset: 0) {
    .project:first-of-type::before,
.project:first-of-type::after,
.project:first-of-type .project__caption {
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }
  @supports (inset: 0) {
    .project:first-of-type::before,
.project:first-of-type::after,
.project:first-of-type .project__caption {
      inset: 2rem 2rem 2rem 2rem;
    }
  }

  .projects {
    width: calc(100vw - 512px);
  }

  @supports not (inset: 0) {
    .project__modal {
      top: 1rem;
      left: 16rem;
      right: 16rem;
      bottom: 1rem;
    }
  }
  @supports (inset: 0) {
    .project__modal {
      inset: 1rem 16rem 1rem 16rem;
    }
  }

  .modal__image {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  .modal__header {
    top: 2rem;
  }

  .close-modal {
    left: 240px;
  }
}
.resumes {
  display: grid;
  width: calc(100vw - 2rem);
  height: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  padding-left: 0;
}

.resume img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  object-fit: contain;
}

.resume {
  grid-column: span 1;
  grid-row: span 1;
  position: relative;
}

.resume:first-of-type {
  grid-column: span 2;
  grid-row: span 2;
}

.resume::before .resume__caption {
  content: "";
  margin-left: 1px solid white;
  margin-right: 1px solid white;
  transform: scale(0);
}

.resume::before,
.resume::after {
  position: absolute;
  opacity: 1;
  transition: transform ease-out 250ms;
}
@supports not (inset: 0) {
  .resume::before,
.resume::after {
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
@supports (inset: 0) {
  .resume::before,
.resume::after {
    inset: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}

.resume:first-of-type::before,
.resume:first-of-type::after {
  position: absolute;
  opacity: 1;
  transition: transform ease-out 250ms;
}
@supports not (inset: 0) {
  .resume:first-of-type::before,
.resume:first-of-type::after {
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
}
@supports (inset: 0) {
  .resume:first-of-type::before,
.resume:first-of-type::after {
    inset: 1rem;
  }
}

.resume::before {
  content: "";
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
  z-index: 1;
  transform: scale(0, 1);
}

.resume::after {
  content: "";
  border-left: 1px solid var(--clr-white);
  border-right: 1px solid var(--clr-white);
  transform: scale(1, 0);
}

.resume__link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.resume__overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.resume__caption {
  display: grid;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  padding: 8px;
  grid-auto-flow: row;
  z-index: 1;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.resume__role {
  font-family: var(--font-ff-oxanium);
  font-size: 24px;
  font-weight: var(--font-fw-bold);
  margin-bottom: 0;
}

.resume:first-of-type .resume__caption {
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

.resume:first-of-type .resume__role {
  font-size: 48px;
}

.resumes .button {
  grid-column: span 2;
  justify-self: center;
  margin-top: 8px;
}

.resumes .resumes_header {
  grid-column: span 2;
}

.resume:hover::before,
.resume:focus::before {
  transform: scale(1.1, 1);
}

.resume:hover::after,
.resume:focus::after {
  transform: scale(1, 1.1);
}

@media screen and (min-width: 600px) {
  .resumes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .resumes .resumes_header {
    grid-column: span 4;
  }

  .resumes .button {
    grid-column: span 4;
  }

  @supports not (inset: 0) {
    .resume:first-of-type::before,
.resume:first-of-type::after {
      top: 1.1rem;
      left: 1.1rem;
      right: 1.1rem;
      bottom: 1.1rem;
    }
  }
  @supports (inset: 0) {
    .resume:first-of-type::before,
.resume:first-of-type::after {
      inset: 1.1rem 1.1rem 1.1rem 1.1rem;
    }
  }
}
@media screen and (min-width: 1200px) {
  @supports not (inset: 0) {
    .resume:first-of-type::before,
.resume:first-of-type::after,
.resume:first-of-type .project__caption {
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }
  @supports (inset: 0) {
    .resume:first-of-type::before,
.resume:first-of-type::after,
.resume:first-of-type .project__caption {
      inset: 2rem 2rem 2rem 2rem;
    }
  }

  .resumes {
    width: calc(100vw - 400px);
  }
}
@media screen and (min-width: 1900px) {
  @supports not (inset: 0) {
    .resume::before,
.resume::after,
.resume:first-of-type .resume__caption {
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
    }
  }
  @supports (inset: 0) {
    .resume::before,
.resume::after,
.resume:first-of-type .resume__caption {
      inset: 1rem 1rem 1rem 1rem;
    }
  }

  @supports not (inset: 0) {
    .resume:first-of-type::before,
.resume:first-of-type::after,
.resume:first-of-type .resume__caption {
      top: 2rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }
  @supports (inset: 0) {
    .resume:first-of-type::before,
.resume:first-of-type::after,
.resume:first-of-type .resume__caption {
      inset: 2rem 2rem 2rem 2rem;
    }
  }

  .resumes {
    width: calc(100vw - 512px);
  }
}
.about__header {
  font-family: var(--font-ff-sourcecode);
  font-weight: var(--font-fw-black);
  font-size: var(--font-fs-body-normal);
  background: var(--clr-primary-300);
  margin-bottom: 0;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.about__body {
  padding: 2rem;
  background: var(--clr-primary-350);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: var(--font-fs-body-normal);
}

.contact__form {
  display: grid;
}

.contact__label,
.contact__input,
.contact__textarea {
  display: block;
}

.contact__input,
.contact__textarea {
  width: calc(100% - 1rem);
}

.contact__label {
  margin-left: 16px;
  margin-right: 16px;
  color: var(--clr-white);
}

.contact__input,
.contact__textarea {
  margin-top: 8px;
  font-family: var(--font-ff-poppins);
  font-style: normal;
  font-weight: var(--font-fw-normal);
  font-size: var(--font-fs-body-normal);
  color: #616161;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
}

.contact__textarea {
  resize: vertical;
  min-height: 110px;
}

.contact__field--error {
  visibility: hidden;
  font-family: var(--font-ff-poppins);
  font-style: italic;
  font-weight: var(--font-fw-normal);
  font-size: 14px;
  color: #616161;
}

.contact__submit {
  margin-left: 16px;
  margin-right: 16px;
  justify-self: right;
  width: max-content;
}

.contact__input:invalid.touched {
  border-color: red;
}

@media screen and (min-width: 600px) {
  .contact__form {
    grid-template-columns: 1fr 1fr;
  }

  .contact__label[for=Subject],
.contact__label[for=Message] {
    grid-column: span 2;
  }

  .contact__submit {
    grid-column-end: -1;
  }

  .contact__label,
.contact__input,
.contact__textarea {
    font-size: var(--font-fs-body-normal);
  }
}
.footer {
  display: grid;
  row-gap: 1rem;
  background: var(--clr-primary-300);
}
@supports not (padding-block: 0) {
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@supports (padding-block: 0) {
  .footer {
    padding-block: 1rem 1rem;
  }
}

.footer_text {
  justify-self: center;
  margin-bottom: 0;
}

.social-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 3rem;
}

.social-icon {
  font-size: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
