.navigation-button{
    position: fixed;
    right: 5%;
    top: 15px;
    z-index: 10;
    background-color: transparent;
    border: none;
    stroke: var(--clr-accent-500);

}

.hamburger{
    width: 30px;
    height: 30px;
}

.nav-toggle--close{
    visibility: hidden;
}

.nav-open .navigation-button{
    transition: visibility ease-in-out 250ms;
}
.nav-open .nav-toggle--burger {
    visibility: hidden;
    
}
.nav-open .nav-toggle--close {
    visibility: visible;
    
}