nav {      
    display: flex;
    z-index: 10;
    margin: 0;
    padding: 0; 
    height: 100%;
    width: 75%;
    grid-column: left / -right;    
    background: var(--clr-primary-300);
    transform: translateX(-100%) translateY(-100%);
    transition: ease-out 250ms;
    position: fixed;
    font-family: var(--font-ff-poppins);
    @supports not (inset:0) {
        top: 0;
        bottom: 0;
        left: 0;    
    }
    inset:0;
    flex-direction: column;
    align-items: stretch;    
}
.nav-open nav{
    transform: translateX(0) translateY(0);;   
}
.page-links > a{
    flex-grow: 100;
    text-decoration: none;
    color: var(--clr-white);
    text-align: center;
    width: 100%;
    padding: 25% 0;
    background: var(--clr-primary-250);
    border: none;
}
.page-links a:hover, 
.page-links a:focus{
    background-color: var(--clr-primary-500);
    border: none;
}
.page-links a:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.page-links > a:not(:last-of-type){
    border-bottom: white solid 1px;
}