h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{    
    background: var(--clr-primary-200);
    // display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows:  0 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "left center right";
}

section{
    margin-bottom: 21px;
    width: 100vw;
    min-height: 100vh;
}

h1{
    color: var(--clr-accent-500);
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 34px;
    font-family: var(--font-ff-sourcecode);    
}



p {
    font-family: var(--font-ff-poppins);
    color: var(--clr-white);
    
}

@import 'responsive'