@include for-small-phone-only {
    .project,
    .project:first-child {
        grid-column: span 2;
        grid-row: span 2;
        font-size: 1.5rem;
    }

    .project:first-child .project__caption {
        font-size: 1rem;
    }
    .project:first-child .project__caption .project__title,
    .project__caption .project__title {
        font-size: 9px;
    }
    .project:first-child .project__caption .project__description,
    .project__caption .project__description{
        font-size: 0.5rem;
        visibility:visible;
    }
    .project:first-child .project__caption .project__link,
    .project__caption .project__link {
        font-size: 1rem;
    }

}

// @include mq($bp-phone){
//     .projects {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
        
//     }
// }
// @include mq($bp-tablet-portrait){
//     .projects {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
        
//     }
//     .project, .project img {
//         width: inherit;
//     }
//     .project .portfolio-pull-left{
//         width: 65%;
//         float: left;
//         margin-right: 2em;
        
//     }
//     .project .portfolio-pull-right{
//         width: 65%;
//         float: right;
//         margin-left: 2rem;
//     }
// }
// @include mq($bp-tablet-landscape){
  
// }
// @include mq($bp-desktop){
    
// }
// @include mq($bp-big-desktop){

// }
// @include mq($bp-huge-desktop){
//     .portfolio {
//         margin: 0 auto;
//         max-width: 60vw;
//         font-size: 4rem;
//     }
//     .projects {
//         grid-template-columns: 1fr 1fr 1fr 1fr;
        
//     }
//     .project {
//         font-size:2rem;
//     }
//     .project:first-child {
//         font-size: 2rem;
//     }

//     .project__caption {
//         font-size: 1.5rem;
//     }
//     .project:first-child .project__caption {
//         font-size: 3rem;
//     }
//     .fa-hand-pointer {
//         visibility: collapse;
//     }

//     .project__header {
//         height: 70vh;
//         margin: 0 auto;
//         max-width: 60vw;
        
//     }
//     .project__header img{
//         width:100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//     }
//     .project__header .project__summary {
//         padding: 1.5em;
//         font-size: 2rem;
//     }

//     .project_content {
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 60vw;
//         font-size: 1.2rem;
//     }

//     .project_content p{
//         max-width: 100%;
//         min-width: 30%;
//         margin-left: 0;
//         margin-right: 1rem;
//     }
// }