@include for-small-phone-only {
    samp::before {
        padding: 0.25rem 1.5rem;
        left: -1.5rem;
    }
    samp {
        padding: 0 1.5rem 0.75rem;
        font-size: 0.5rem;
    }

    .portfolio-modal {
        font-size: 7px;
    }

    .close-modal {
        width: 14px;
        height: 14px;        
    }
    .resume-items{
        gap: 0.5rem;
        padding-inline-start: 0;
    }
    .resume__card {
        height: 3rem;
        width: 3rem;
    }
    .resume__role{
        margin: 0 0.25rem;
    }
}


// @include mq($bp-phone){
// // ====================================================== //
// // ==================== Resumes Modal =================== //
// // ====================================================== //

// .resume-items {
//     grid-template-columns: repeat(3, max-content);     
// }
// }
// @include mq($bp-tablet-portrait){
//     .resume-items {
//         grid-template-columns: repeat(5, max-content);     
//     }
// }
// @include mq($bp-tablet-landscape){
//     .resume-items {
//         grid-template-columns: repeat(5, max-content);     
//     }
//     .resume__card {
//         height: 9rem;
//         width: 9rem;
//     }
// }
// @include mq($bp-desktop){
//     .resume-items {
//         grid-template-columns: repeat(7, max-content);     
//     }
// }
// @include mq($bp-big-desktop){

// }
// @include mq($bp-huge-desktop){
//     .about {
//         width: 60vw;
//         margin-left: auto;
//         margin-right: auto;
//     }    

//     samp::before{
//         padding-left:1.5rem;
//         padding-right:1.5rem;
//         left: -1.5rem;
//     }
//     samp {
        
//         margin-left: 0;
//         margin-right: 0;
//         width:calc(100% - 3rem);
//         padding-left:1.5rem;
//         padding-right:1.5rem;
//     }

//     .resume__card {
//         height: 12rem;
//         width: rem;
//     }


// }

// @include mq($bp-phone){

// }
// @include mq($bp-tablet-portrait){

// }
// @include mq($bp-tablet-landscape){
  
// }
// @include mq($bp-desktop){
    
// }
// @include mq($bp-big-desktop){

// }
// @include mq($bp-huge-desktop){
    
// }