samp::before{    
    height: max-content;
    position: relative;
    top: -1rem;
    left: -3rem;
    display: block;
    width: 100%;
    text-align: center;    
    content: 'about - Visual Studio Code';
    background: var(--clr-about-head);    
    border-radius: 1rem 1rem 0 0;
    padding: .5rem 3rem;
}
samp{
    margin: 0 auto;
    display: block;
    width: min(796.8px, 60%);
    background: var(--clr-about-body);
    color: var(--clr-white);
    font-family: var(--font-ff-sourcecode);
    font-weight: var(--font-fw-medium);    
    padding: 0 3rem 1.5rem;
}

samp button, 
samp a{
    text-decoration: underline;
    color: aqua;
    background: transparent;
    border: none;
}

samp button:focus,
samp a:focus{
    color: aquamarine;
}
