:root{
    --clr-primary-500: hsl(231, 18%, 50%); 
    --clr-primary-350: hsl(231, 18%, 35%); 
    --clr-primary-300: hsl(231, 18%, 30%); 
    --clr-primary-250: hsl(231, 18%, 25%); 
    --clr-primary-200: hsl(231, 18%, 20%); 
    
    --clr-accent-500: hsl(166, 100%, 50%);
    --clr-accent-700: hsl(166, 100%, 70%); 

    --clr-secondary-520: hsl(198, 30%, 52%);
    --clr-secondary-320: hsl(198, 30%, 32%);
    --clr-secondary-120: hsl(198, 30%, 12%);

    --clr-white: hsl(0, 0%, 99%);
    --clr-black: hsl(0, 0%, 8%);
    --clr-dim-gray: hsl(0, 0%, 41%);
    --clr-brand-github: hsl(0, 0%, 100%);
    --clr-brand-twitter: hsl(0, 0%, 100%);
    --clr-brand-dribbble:  hsl(0, 0%, 100%);

    --clr-about-body: hsl(231, 18%, 35%);
    --clr-about-head: hsl(231, 18%, 30%);
}