---
title: "Matthew Davison"
layout: "base.njk"
---

<section class="intro" id="intro">
  <img alt="" class="intro__profile-picture" />
  <h3 class="intro__greet">Hi! My name is</h3>
  <h1 class="intro__name">Matthew Davison</h1>
  <h2 class="intro__role">
    I’m a Developer. I develop websites, android apps and classical games!
  </h2>
  <a href="#cta" class="intro_scroll-button">   
    <svg class="intro__scroll-svg" height="calc(16px*32)" viewBox="0 0 8 16">
  <ellipse fill="none" stroke="#000000"
     stroke-width="0.1"
     cx="4" cy="8"
     rx="3.95" ry="7.95" />
  <path d="m 3.85,2.7499997 0.3,0 v 9 h -0.3 z"/>
  <path d="m 3,11.75 h 2 l -1,1.5 z" />
</svg>

  </a>
</section>

<section class="cta" id="cta">
  <h1 class="cta__motto">Struggle, Persevere, Conquer.</h1>
  <p class="cta__quote">
    Regardless of the task or the challenges that come with it, if you struggle
    and persevere, you’ll eventually conquer any goal.
  </p>
  <p class="cta__personality-adjectives">This is who I am.</p>
  <a href="#projects"class="button primary-btn">See my work</a>
</section>

<section class="resumes" id="resumes">
    {% for resume in collections.resume %}
  <div class="{% for class in resume.data.classes %}{{ class }} {% endfor %}">
    <img
      src="{{ resume.data.imageFeatured }}"
      alt="{{ resume.data.imageFeaturedAlt }}"
      class="resume__image" />
      <div class="resume__overlay"></div>
      <a href="{{ resume.data.url }}">
        <div class="resume__caption">
          <h3 class="resume__role">{{ resume.data.role }}</h3>
        </div> 
      </a>
  </div>
  {% endfor %}
</section>

<section class="projects" id="projects">
  {% for project in collections.project %}
  <div class="{% for class in project.data.classes %}{{ class }} {% endfor %}">    
    <img
      src="{{ project.data.imageFeatured }}"
      alt="{{ project.data.imageFeaturedAlt }}"
      class="project__image" />
    <div class="project__overlay"></div>
    <div class="project__caption">
      <h3 class="project__title">{{ project.data.title }}</h3>
      <p class="project__description">{{ project.data.description }}</p>
      <a href="#" class="project__link">Read More</a>
    </div> 
  </div>
  {% endfor %}
</section>
