.project:hover img, 
.project:focus img{
    opacity: 0.2;
}

.project:hover::before, 
.project:focus::before{
    transform: scale(1.1,1);
}
.project:hover::after,
.project:focus::after{
    transform: scale(1,1.1);
}

// .project:hover::before, 
// .project:focus::before,
// .project:hover::after,
// .project:focus::after{
//     background:rgba(aqua, 0.1)
// }

.project:hover .fa-hand-pointer,
.project:focus .fa-hand-pointer {
    visibility:collapse;
}